@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f6fdff;
  --black: #1e1e1e;

  --unit-xs: 12px;
  --unit-sm: 16px; /* 12px */
  --unit-m: 20px; /* 16px */
  --unit-l: 24px; /* 24px */
  --unit-xl: 32px; /* 32px */
  --unit-xl: clamp(42px 4vw 62px); /* xl */

  --color-main: var(--white);
  --color-secondary: var(--black);

  --background-main: var(--color-main);
  --background-secondary: var(--color-secondary);

  --font-xs: var(--unit-xs);
  --font-sm: var(--unit-sm);
  --font-m: var(--unit-m);
  --font-l: var(--unit-l);
  --font-xl: var(--unit-xl);

  --font-title-xs: 17.7vw;
  --font-title-sm: 17.7vw;
  --font-title-md: 11.11vw;
  --font-title-lg: 9.04vw;


  --line-height-xs: var(--unit-xs);
  --line-height-s: var(--unit-sm);
  --line-height-m: var(--unit-m);
  --line-height-l: var(--unit-l);
  --line-height-xl: var(--unit-xl);
  --line-height-title-xs: 80%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: var(--black);
    --color-secondary: var(--white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--color-secondary);
  background: var(--background-main);
  font-family: Arial, Helvetica, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
